<%= content_for :page_title, 'Home' %>

<!-- First Band (Image) -->

<div class="row">
  <section id="intro">
  <div class="small-12 large-2 columns"><div class="circular"><%= link_to image_tag("josh_head.png")%></div></div>
  <div class="small-12 large-10 columns"><h3 class="i-am-josh">I'm Josh Aronoff.</h3>
  <p>
    I am a <%= link_to "UI", "http://en.wikipedia.org/wiki/User_interface" %> / <%= link_to "UX", "http://en.wikipedia.org/wiki/User_experience" %> / <%= link_to "Web", "http://en.wikipedia.org/wiki/World_Wide_Web" %> Designer by day,
    <%= link_to "podcaster", "http://www.superdadshow.com" %> by night.</p>
  <p>
    I believe that a good story has the power to unify people. I use design and empathy to help enrich people's lives through software. I love making things and solving problems; for clients and end users.
  </p>

</div>
  </section>


   <hr>
</div>


  

  

 
<!-- Second Band (Image Left with Text) -->

<div class="row"></div>
<section id="capabilities">
  <h3>What I Do</h3>
  <div class="small-12 large-6 columns">
    <h4> <i class="fa fa-sitemap"></i>
      UI Design
    </h4>
    <p>Making User Interfaces elegant and functional.</p>

    <h4> <i class="fa fa-microphone"></i>
      Podcasting
    </h4>
    <p>Creating community online.</p>

    <h4>
      <i class="fa fa-print"></i>
      Print Design
    </h4>
    <p>Where my roots are.</p>

  </div>
  <div class="small-12 large-6 columns">

    <h4>
      <i class="fa fa-users"></i>
      UX Design
    </h4>
    <p>Working with people to make better software.</p>

    <h4>
      <i class="fa fa-calendar"></i>
      Project Management
    </h4>
    <p>Helping teams get stuff done on time.</p>

    <p> <strong>See anything you need help with?</strong>
      <!-- Size Classes: [tiny small large] -->
      <!-- Radius Classes: [radius round] -->
      <!-- Color Classes: [secondary success alert] -->
      <!-- Disabled Class: disabled -->
     
    </p>
     <a href="/contact" class="button">Let's Talk.</a>
  </div>

</section>
</div>
</div>
</div>
</div>