<%= content_for :page_title, 'Projects' %>

<h1><%= yield(:page_title) %></h1>
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">UI/UX</a></dd>
  <dd><a href="#">Web Design</a></dd>
  <dd><a href="#">Graphic Design</a></dd>
</dl>

<div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>



<div class="row">
    <div class="large-12 show-for-small columns">
          <h3>All</h3><hr>
        </div>

             <% @projects.each do |project| %>            
          <div class="large-3 small-3 columns">
            <% project.project_covers.each do |project_cover| %>
            <img src="<%= project_cover.url %>">
            <% end %>
            <div class="panel">
              <% project.project_fields.each do |project_field| %>
              <p><%= project_field.field.name %></p>
             <% end %>
            </div>
          </div>


  
    
  

  <% project.project_owners.each do |project_owner| %>
    <%= project_owner.behance_id %>
    <%= project_owner.first_name %>
    <%= project_owner.last_name %>
    <%= project_owner.username %>
    <%= project_owner.city %>
    <%= project_owner.state %>
    <%= project_owner.country %>
    <%= project_owner.company %>
    <%= project_owner.url %>

    <% project_owner.project_owner_fields.each do |project_owner_field| %>
      <% project_owner_field.field.name %>
    <% end %>

    <% project_owner.project_owner_images.each do |project_owner_image| %>
      <% project_owner_image.url %>
    <% end %>
  <% end %>

  <% project.project_fields.each do |project_field| %>
    <h2><%= project_field.field.name %></h2>
  <% end %>

  <%= project.project_stat.appreciation %>
  <%= project.project_stat.comments %>
<% end %>


  <div class="large-12 show-for-small columns">

</div>





</div>