<%= content_for :page_title, @project.name %>

<h3><%= yield(:page_title) %></h3>
<div class="row">
  <div class="small-12 large-8 columns">
    <% @project.project_modules.each do |project_module| %>
      <% if project_module.content_type == "image" %>
        <div class="text-center">
          <img src="<%= project_module.content %>">
        </div>

        <hr>
      <% elsif project_module.content_type == "text" %>
        <p><%= project_module.content.html_safe %></p>
      <% end %>
    <% end %>
  </div>



  <div class="small-12 large-4 columns">
    <blockquote><b>About <%= @project.name %></b>
      <p><%= @project.description %></p>

      <b>Areas of Expertise</b><br>

      <% @project.project_fields.each do |project_field| %>
        <span class="label"><%= project_field.field.name %></span>
      <% end %>
    </blockquote>
  </div>
</div>


