	<li class="hover"><%= link_to 'About Josh', page_path('about') %></li>
 <li class="hover"><%= link_to 'Projects', page_path('projects/index') %></li>
  	<li class="hover"><%= link_to 'Experience', page_path('experience') %></li>
  	<li class="hover"><%= link_to 'Contact', page_path('contact') %></li>
  	<li class="hover"><%= link_to 'Blog', page_path('blog') %></li>
